*.out
*.aux
*.idx
*.log
*.toc
*.gz
*.bll
*.blg

.ipynb_checkpoints
*.ipynb_checkpoints


*.pdf
!advanced-programming/practice/exams/2013-09-02/*.pdf
!advanced-programming/practice/exams/2014-02-24/*.pdf
!advanced-programming/practice/exams/2013-06-03/*pdf
*.class
.vscode
.metadata
__pycache__


parallel-and-distributed-algorithms/theory/*.pdf
